<app-navbar></app-navbar>
<div class="container">
    <h2 class="text-center">About Us</h2>
    <h4>What is groceryproducts.com</h4>
    <img src="../../../assets/images/grocery5.jpg" alt="" width="250px" height="250px" class="float-right">
    <p>groceryproducts.com (Innovative Retail Concepts Private Limited) is India’s largest online food and grocery store. With
        over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for. Right
        from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, Personal
        care products, Meats – we have it all.
        Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality
        available at the lowest prices. Select a time slot for delivery and your order will be delivered right to your
        doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore,
        Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat,
        Nagpur, Patna, Indore and Chandigarh Tricity You can pay online using your debit / credit card or by cash /
        sodexo on delivery.
        We guarantee on time delivery, and the best quality!</p>
    <h4>Happy Shopping!</h4>
    <h4>How do I order?</h4><br>
    <div class="row">
        <div class="col-lg-6">
            <p>1. Browse bigbasket.com for products
                or use the search feature</p>
            <img src="../../../assets/images/about-lap1.webp" alt="">
        </div>
        <div class="col-lg-6">
            <p>2. Add item to your
                Shopping Basket</p>
            <img src="../../../assets/images/about-lap2.webp" alt="">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <p>3. Choose a convenient delivery
                time from our 4 Slots* a day</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary text-center">7.00 AM - 9.30 AM</li>
                    <li class="list-group-item list-group-item-secondary text-center">9.30 AM - 12.00 PM</li>
                    <li class="list-group-item list-group-item-secondary text-center">5.00 PM - 7.30 PM</li>
                    <li class="list-group-item list-group-item-secondary text-center">7.30 PM - 10.00 PM</li>
                  </ul>
        </div>
        <div class="col-lg-6">
            <p>4. Select suitable payment
                option(Cash, Sodexo, Credit Card)</p>
            <img src="../../../assets/images/card.jpg" alt="" width="100%" height="200px">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <p>5. Your products will be home-delivered
                as per your order.</p>
            <img src="../../../assets/images/about-basket-vichl-8thDec.webp" alt="">
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>